<h3> Book Progress </h3>

<!--
<div class="form-container">
    <div class="progress">
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" 
            [ngStyle]="{'width.%': width * 100}" [attr.aria-valuenow]="width" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </div>
</div>

-->

<br>
<br>
<br>
<div class="form-container">
        
    <input class= "form-control" type="text" [(ngModel)] = "searchText"  placeholder="Search by Book Name or Author">
        
    <table class = "table table-striped">
    <thead>
        <tr>
            <th> Book Name </th>
            <th> Actions </th>
            <th> Progress </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let book of books | search: searchText" >
            <td> {{book.bookName}} </td>
            <td>
                <button (click) = "updateBookProgress(book.id)" class = "btn btn-info"> Update </button>
                <button (click) = "bookProgress(book.id)" class=" btn btn-success" style="margin-left: 10px"> Show </button> 
            </td>

            <td>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" 
                    [ngStyle]="{'width.%': 50}" aria-valuemin="0" aria-valuemax="100"></div>   <!--  [attr.aria-valuenow]="50" ,    {{book.bookProgress}} --> 
                </div>

            </td>
                        
        </tr>
    </tbody>
    </table>
</div>
