<div class="col-md-6 offset-md-3">

    <h3> Update Book Details</h3>
    <form (ngSubmit) = "onSubmit()">
    
        <div class="form-group">
            <label> Book Name </label>
            <input type="text" class="form-control" id = "bookName"
                [(ngModel)] = "book.bookName" name = "bookName">
        </div>
    
        <div class="form-group">
            <label> Book Author </label>
            <input type="text" class="form-control" id = "bookAuthor"
                [(ngModel)] = "book.bookAuthor" name = "bookAuthor">
        </div>
    
        <div class="form-group">
            <label> Number of Pages </label>
            <input type="text" class="form-control" id = "bookPages"
                [(ngModel)] = "book.bookPages" name = "bookPages">
        </div>

        <!--
            
        <div class="form-group">
            <label> Pages Read </label>
            <input type="text" class="form-control" id = "bookReads"
                [(ngModel)] = "book.bookPages" name = "bookReads">
        </div> 

        -->
    
        <div class="form-group">
            <label> Book Tag </label>
            <select  class="form-control" id="bookTags" 
                [(ngModel)] = "book.bookTags" name="bookTags">
                <option value="0"> Financial </option>
                <option value="1"> History </option>
                <option value="2"> Literature </option>
                <option value="3"> Philosophy </option>
                <option value="4"> Psychology </option>
                <option value="5"> Politics </option>
                <option value="6"> Science </option>
            </select>
        </div>
    
        <button class = "btn btn-success" type = "submit">Submit</button>
    </form>
    </div>