<h2> Book List </h2>
<table class = "table table-striped">
    <thead>
        <tr>
            <th> Book Name </th>
            <th> Book Author </th>
            <th> Number of Pages </th>
            <th> Tag </th>
            <th> Actions </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let book of books" >
            <td> {{book.bookName}} </td>
            <td> {{book.bookAuthor}} </td>
            <td> {{book.bookPages}} </td>
            <td> {{book.bookTag}} </td>
            <td>
                <button (click) = "updateBook(book.id)" class = "btn btn-info"> Update </button>
            </td>
        </tr>
    </tbody>
</table>