<div class="col-md-6 offset-md-3">

<h3> Add New Book </h3>
<form (ngSubmit) = "onSubmit()">

    <div class="form-group">
        <label> Book Name </label>
        <input type="text" class="form-control" id = "bookName"
            [(ngModel)] = "book.bookName" name = "bookName">
    </div>

    <div class="form-group">
        <label> Book Author </label>
        <input type="text" class="form-control" id = "bookAuthor"
            [(ngModel)] = "book.bookAuthor" name = "bookAuthor">
    </div>

    <div class="form-group">
        <label> Number of Pages </label>
        <input type="text" class="form-control" id = "bookPages"
            [(ngModel)] = "book.bookPages" name = "bookPages">
    </div>

    <div class="form-group">
        <label> Book Tag </label>
        <input type="text" class="form-control" id = "bookTag"
            [(ngModel)] = "book.bookTag" name = "bookTag">
    </div>

    <button class = "btn btn-success" type = "submit">Submit</button>
</form>
</div>